* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      height: 100vh;
      overflow: hidden;
    }

    /* Navbar */
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 50px;
      background-color: #1e3a8a;
      color: white;
    }

    nav .logo {
      font-size: 24px;
      font-weight: bold;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 30px;
    }

    nav ul li {
      cursor: pointer;
      font-weight: 500;
    }

    nav ul li:hover {
      color: #facc15;
    }

    nav .user {
      font-weight: bold;
    }

    /* Hero Section */
    .hero {
      display: flex;
      height: calc(100vh - 70px); /* subtract navbar height */
    }

    .hero-left, .hero-right {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .hero-left {
      margin: 100px;
      flex-direction: column;
      text-align: left;
      padding: 40px;
      background-color: #f9fafb;
    }

    .hero-left h1 {
      font-size: 48px;
      color: #00ebf8;
      margin-bottom: 20px;
    }
    span{
        color: #1e3a8a;
    }

    .hero-left p {
      font-size: 18px;
      color: #4b5563;
      margin-bottom: 30px;
      line-height: 1.6;
    }

    .hero-left button {
      padding: 12px 25px;
      background-color: #1e3a8a;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;
    }

    .hero-left button:hover {
      background-color: #2563eb;
    }

    .hero-right img {
      max-width: 80%;
    max-height: 80%;
      object-fit: cover;
    }